<div class="bg-slate-700 py-3 ">
    <div class="flex justify-end items-center px-6">
        <a routerLink="home"  routerLinkActive="text-red-700" class="text-white font-bold px-6">HOME</a>
        <a routerLink="post"  routerLinkActive="text-red-700" class="text-white font-bold">POST</a>
        <a routerLink="formulario"  routerLinkActive="text-red-700" class="text-white font-bold px-6">FORMULARIO</a>
      <div class="ml-10">
        <a routerLink=""><i class="bi bi-person-circle p-5 text-white text-2xl hover:text-red-400"></i></a>
        
          <!-- <ul class="nav">
            <li>
              <li><a routerLink="" class="text-white font-bold">Inicio</a>
            </li>
          </ul> -->
        
      </div>
    </div>
  </div>
